:root{
  --colorTitulo : rgb(40, 40, 40); 
}
@import url("https://fonts.googleapis.com/css2?family=Handjet&family=Kanit:wght@600&family=Lato:ital,wght@0,700;1,300&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

header .contenedor {
  height: 160px;
  display: flex;
  justify-content: space-between;

}

header .logo {
  display: flex;
  justify-content: flex-start;
  padding: 30px 115px;
  font-size: 20px;
}

header .logo img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

header h1 {
  color: var(--colorTitulo);
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

header .menu {
  display: flex;
  justify-content: flex-end;
  padding: 45px 80px;
}
header .menu ul{
  display: flex;
  list-style: none;
}

header .menu li a {
  color: var(--colorTitulo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  margin: 0 28px;
  text-decoration: none;
}


.banner{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.contenido-banner{
  display: flex; 
}

.contenido-banner .banner-titulo{
  width: 400px;
  font-size: 62px;
  margin-left: 175px;
  color: var(--colorTitulo);
}

.contenido-banner .banner-subtitulo{
  width: 460px;
  height: 160px;
  margin-top: 35px;
  padding: 0 35px ;
  font-family: "Roboto", sans-serif ;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-left: 2px solid gray;
  line-height: 1.7;
}

.contenido-banner .banner-subtitulo h2{
  margin-bottom: 8px;
  color: var(--colorTitulo);
}

.contenido-banner .banner-subtitulo p{
  color: rgb(144, 149, 149);
  font-size: 16px;
  font-weight: 550;
}

.banner-image{
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}

.banner-image img{
  width: 1100px;
  
}

.banner-arrow{
  display: flex;
  justify-content: end;
}

.arrow{
  width: 240px;
  height: 70px;
  font-size: 30px;
  display: flex;
  margin: -70px 0;

}

.arrow .arrow-left{
  width: 120px;
  background-color: var(--colorTitulo);
}

.arrow .arrow-rigth{
  width: 120px;
  background-color: rgb(237, 234, 234);
}

.arrow .arrow-left a{
  color: rgb(232, 235, 235);
}

.arrow .arrow-rigth a{
  color:rgb(176, 180, 180);
}

.arrow .arrow-centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-arrow :hover{
  background-color: gray;
  transition: 1s;
}

/*SECCION 4*/

.sec-5{
  margin: auto;
  padding: 100px;
  display: flex;
  background-color: #fbfbfb;
}

/*LADO IZQUIERDO*/
.sec-5 .left-side .texto-sec5 h2{
  font-size: 38px;
  
}

.sec-5 .left-side .texto-sec5 h3{
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(144, 149, 149);
}

.sec-5 .left-side .banner-arrow{
  flex-direction: column;
  margin-top: 160px;
}

/*FLECHAS*/

.banner.arrow{
  flex-direction: column;

}
.arrow{
  width: 240px;
  height: 70px;
  font-size: 30px;
  display: flex;
  margin: -70px 0;

}

.arrow .arrow-left{
  width: 120px;
  background-color: var(--colorTitulo);
}

.arrow .arrow-rigth{
  width: 120px;
  background-color: rgb(237, 234, 234);
}

.arrow .arrow-left a{
  color: rgb(232, 235, 235);
}

.arrow .arrow-rigth a{
  color:rgb(176, 180, 180);
}

.arrow .arrow-centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-arrow :hover{
  background-color: gray;
  transition: 1s;
}

/*LADO DERECHO*/
.sec-5 .right-side{
  margin-left: 200px;
}

.sec-5 .right-side .img-sec-5-top img{
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.sec-5 .right-side .img-sec-5-top{
  display: flex;
}

.sec-5 .right-side .text-sec5-top-right{
  display: inline-block;
}
.sec-5 .right-side .text-sec5-top-right h2{
  font-size: 30px;
  
  
}

.sec-5 .right-side .text-sec5-top-right h3{
  font-size: 18px;
  color: rgb(144, 149, 149);
  font-family: "Roboto", sans-serif;
  font-weight: 500;

}

.sec-5 .right-side .img-sec-5-bottom img{
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.sec-5 .right-side .img-sec-5-bottom{
  display: flex;
  margin-top: 70px;
}

.sec-5 .right-side .text-sec5-bottom-right h2{
  font-size: 30px;
  
}

.sec-5 .right-side .text-sec5-bottom-right h3{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(144, 149, 149);
  font-weight: 500;
}






/* FOOTER */

footer {
    background-color: rgb(35, 35, 35);
    color: gray;
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 15px;
}

.subscribe h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.subscribe input {
    border: none;
    flex: 1;
    padding: 10px;
    background-color: #333;
    
}

.subscribe button {
    background-color: #333;
    color: rgb(154, 154, 154);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    
}
i{
    padding: 15px;
    color: #fbfbfb;
    margin-top: 8px;
    margin-left: 0;
}

